<launch>

<rosparam file="$(find mk_mobile_description)/launch/controller.yaml" command="load"/>
<node name="controller_spawner" pkg="controller_manager" type="spawner" respawn="false" output="screen" ns="mk_mobile" args="joint_right_wheel_position_controller joint_left_wheel_position_controller joint_caster_right_1_position_controller joint_caster_right_2_position_controller joint_caster_right_3_position_controller joint_caster_left_1_position_controller joint_caster_left_2_position_controller joint_caster_left_3_position_controller joint_lidar_position_controller joint3_position_controller joint1_position_controller joint2_position_controller joint4_position_controller joint5_position_controller joint6_position_controller joint_state_controller "/>
<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
  <remap from="/joint_states" to="/mk_mobile/joint_states"/>
</node>

</launch>